{% extends 'base.html' %}
{% block content%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        .heading h1{
text-align: center;margin-top: 50px;margin-bottom: 50px;
}
.trainingsection{
display: flex;
justify-content: space-around;
}
i{
font-size: 50px;
}
a:hover{
color: brown;
}
.forImg{
background-image: url(images/wooden.jpg);
background-size: cover;
height: 600px;
border-top: 0.5px solid;
}
h1, p{
color: black;
}
p{font-weight: 600;}
span{color: #f23607;}
    </style>
</head>

<body>
   
    <div class="forImg">
    <div>
        <div class="heading">
            <h1>Select Your <span>Plans</span> As Per Your Need</h1>
        </div>
    </div>
    <div class="trainingsection">
        <div>
            <h1><i class="fa-solid fa-dumbbell " style="color: #f23607;"></i> Basic Fitness</h1><br>
               <p>Physical fitness involves the performance of the <br> heart and lungs, and the muscles of the body.</p>
            <br>
            <br>
            <br>
            <br>
            <h1><i class="fa-solid fa-dumbbell " style="color: #f23607;"></i> New Gym Trainer</h1><br>
            <p>
                1.Level 2 Certificate in Fitness Instructing. <br>
                2.Level 2 Diploma in Instructing Exercise and Fitness. <br>
                3.Level 3 Diploma in Fitness Instructing and Personal Training.
            </p>
        </div>
        <div>
            <h1><i class="fa-solid fa-dumbbell " style="color: #f23607;"></i> Yoga Training</h1><br>
            <p>
                The class begins with Power Vinyasa Yoga to warm and <br>prepare your body, followed by high intensity interval training <br>(HIIT) where you determine your pace and intensity.
            </p>
                <br>
            <br>
            <br>
            <br>
            <h1><i class="fa-solid fa-dumbbell " style="color: #f23607;"></i> Body Building Course</h1><br>
            <p>
                This course provides the concepts you need to help clients or yourself understand <br> the process of bodybuilding and use a gym workout programme <br>to achieve muscle hypertrophy and look great.
            </p>
        </div>
    </div>
</div>

</body>
</html>
{% endblock%}