{% extends 'base.html' %}
{% load static %}
{% block content%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body> 
    
  <div class="mid">
            <center><h3 style="color: #222222;">WORK HARDER,GET STRONGER</h3></center>
            <h1 class="h1para"style="color: #222222;margin-top: 40px;">EASY WITH OUR<span>GYM</span></h1>+
            <button class="midbutton">BECOME A MEMBER</button>
            <h2 style="margin-top: 60px;"> Our certified personal trainers and fitness instructors  can provide personalized workout plans, guidance on proper exercise techniques, and support to help individuals achieve their fitness goals safely and effectively.</h2>
        </div>


        <div class="cardio">
               <center><h1 style="color: #222222;"><span>CARDIO</span>SECTION</h1></center>
               <br>
            
               <h2 style="margin-left: 50px;">Equipment like treadmills,elliptical machines,stationary bikes,<br> and rowing machines options for  cardio workouts are avilable here.</h2>
               <br>
               <br>
        <h2 style="margin-left: 50px; color: orangered; background-color: #222222; width: fit-content;">This type of exercise primarily uses oxygen to meet the energy <br>demands of the body. </h2>
        <br>
        <br>
        <br>
        <br>
        
        <h2 style="margin-left: 50px; color: orangered; font-size: 25px;background-color: #222222; width: fit-content;">Workouts should typically last 20-60 minutes per session, <br>depending on intensity and individual fitness levels.</h2>
        <br>
        <br>
        <h2 style="margin-left: 50px;">Gradually increase the duration, intensity, or frequency <br>of workouts to continue challenging <br>the cardiovascular system and making progress.</h2>
            </div>
        <div class="Yoga">
               <center><h1>YOGA<span>SECTION</span></h1>
               </center><br>
               
               <h2 style="margin-left: 50px; margin-top: 180px;" class="y">Yoga offers numerous physical benefits,<br> including improved flexibility, strength,<br> balance, and posture. Regular practice<br> can also help alleviate stress, tension,<br> and chronic pain.</h2><br>
               
            <!-- <h2 style="margin-left: 75%; ">One of the beauties of yoga is its accessibility <br>to people of all ages, fitness levels, and <br>backgrounds. Modifications and adaptations <br>can be made to accommodate individuals<br> with physical limitations or health concerns.</h2> -->
            
            </div>
</body>
</html>
{% endblock%}