{% extends 'base.html' %}
{% load static %}
{% block content%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/signup.css/' %}">
    
    
</head>
<body>
    
    <center><h1 style="color: bisque;"> {{msg}}</h1></center>
    
    
    <form action="{% url 'login' %}">
        
        <h1>SignUp </h1>
        <input type="text" name="name" placeholder="Enter your name">
        <input type="text" name="email" placeholder="Enter your email">
        <input type="text" name="password" placeholder="Enter your password">
        <input type="text" name="cpassword" placeholder="Enter your cpassword">
        <button class="rsub" type="submit" >Submit</button>

        <p>Already have an Account? <a href="{% url 'login' %}"> Login Now!</a></p>

    </form>
</body>

</html>
{% endblock%}